<% include public/views/header.ejs %>

<div id="out-cont">
<div class="container">

    <img id="waterfront" src="./public/images/petoskey.png" alt="Petoskey Waterfront">

    <div id="top" class="top-bar">
        <div>
            <h1 id="petoskey" class="h3">City of <!--<img id="test" alt="test" src="public/images/16x16.png ">-->
            </h1><h1 class="h1">Petoskey</h1>
        </div>

        <br><a class="main button" id="p-r" href="https://www.petoskey.us/departments/parks_and_recreation/index.php"> Parks & Rec</a>

        <a class="main button" id="tourism" href="https://www.google.com/destination?q=petoskey&output=search&dest_mid=/m/0v5h1&sa=X&ved=2ahUKEwjS3Ky2rZfiAhUHKawKHU0eBCoQ6tEBKAQwAHoECAoQBw#dest_mid=/m/0v5h1&tcfs=EhoaGAoKMjAxOS0wNS0yORIKMjAxOS0wNi0wMg">Tourism </a>

        <div class="main button" id="problem" >Report a Problem</div>

        <div class="main button" id="login"> Log In </div>
    </div>

    <div id="local-businesses">
    <div id="local-businesses-left">
       <div id="lb-title"><h1 class="h1" >Local Businesses</h1></div>

        <a  id="breadworks" href="https://www.breadworks.com">
            <img class="business-link" id="breadworks-img" src="/public/images/breadworks.png" alt="Breadworks Products">
            <br> Crooked Tree Breadworks<br></a>

        <a  id="bearcub" href="https://bearcuboutfitters.com">
            <img class="business-link" id="bearcub-img" src="/public/images/bearcub.png" alt="Bearcub Products">
            <br> Bearcub Outfitters<br></a>

        <a  id="roast-and-toast" href="https://www.roastandtoast.com">
            <img class="business-link" id="img" src="/public/images/roast-and-toast.png" alt="Roast and Toast Coffee">
            <br> Roast and Toast<br></a>

    </div><div id="local-businesses-right">
        <a  id="perry" href="https://www.staffords.com/stay/perry-hotel">
            <img class="business-link" id="perry-img" src="/public/images/perry.png" alt="Perry Hotel">
            <br> Stafford's Perry Hotel<br></a>

        <a  id="grandpa-shorters" href="https://grandpashorters.com">
            <img class="business-link" id="grandpa-shorters-img" src="/public/images/grandpa-shorters.png" alt="Grandpa Shorter's">
            <br> Grandpa Shorter's Gifts<br></a>

        <a  id="mclean-and-eakin" href="https://www.mcleanandeakin.com">
            <img class="business-link" id="mclean-and-eakin-img" src="/public/images/mclean-and-eakin.png" alt="McLean and Eakin logo">
            <br> McLean and Eakin Booksellers<br></a>
    </div>
</div>
</div>

</div>

<% include public/views/footer.ejs %>