.top-bar{
    background-color: #00002c;
    color: white;
    position: sticky;
}

.button{
    color: white;
    background-color: #00002c;
    width: 200px;
    height: 100px;
    font-size: 1.8em;
    border: black 1px solid;
}
